name: Audit Code

run-name: Audit Code

on:
  push:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  audit:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: ./.github/actions/setup-project
      - name: Audit code
        env:
          SKIP: "golangci-lint,no-commit-to-branch"
        run: |
          mise run audit

  golangci-lint:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: ./.github/actions/setup-project
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9

  build:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
        os:
          - windows
          - linux
          - macos
        exclude:
          - arch: arm64
            os: windows
        include:
          - arch: amd64
            os: windows
            runner_labels:
              - windows-2025
          - arch: arm64
            os: linux
            runner_labels:
              - ubuntu-24.04-arm
          - arch: amd64
            os: linux
            runner_labels:
              - ubuntu-24.04
          - arch: arm64
            os: macos
            runner_labels:
              - macos-26
          - arch: amd64
            os: macos
            runner_labels:
              - macos-15-intel
    runs-on: ${{ matrix.runner_labels }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: ./.github/actions/setup-project
      - name: Build
        run: |
          mise run build
